.shopItem{
    .footer{
        margin-top: -10%;
        @media only screen and (max-width:768px){
            margin-top: 0px;
        }
    }
}

.shopArchive {
    .filter {
        .items {
            .item {
                border-bottom: 1px solid #EAEAEA;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}


.specialSell{
    .title{
        p{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: black;
                right: 130px;
                bottom: 12px;
            }
        }
    }
}


.cartPopUp{
    background: rgba(68, 68, 68, 0.8);
}

.mobileFilter{
    button{
        border: 1px solid black;
        border-radius: 10px;
    }
}

.shopArchive{
    .overlay{
        background: rgba(0, 0, 0, 0.5);
    }
}

.shopArchiveContainer .items{
    direction: rtl;
}