.shopItem{
    .footer{
        margin-top: -10%;
    }
}

.shopArchive {
    .filter {
        .items {
            .item {
                border-bottom: 1px solid #EAEAEA;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}


.specialSell{
    .title{
        p{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: black;
                right: 130px;
                bottom: 12px;
            }
        }
    }
}


.cartPopUp{
    background: rgba(68, 68, 68, 0.8);
}