.panelList{
    border-radius: 12.808px;
    background: rgba(217, 217, 217, 0.18);
    box-shadow: 0px 4px 18.4px 0px rgba(0, 0, 0, 0.10);
    @media only screen and (max-width:768px){
        background: transparent;
        box-shadow: none;
    }
}
.panelOrder{
    border-radius: 12.808px;
    background: rgba(217, 217, 217, 0.18);
    box-shadow: 0px 4px 18.4px 0px rgba(0, 0, 0, 0.10);
    @media only screen and (max-width:768px){
        background: transparent;
        box-shadow: none;
    }
    .button{
        button{
            border: 2px solid #FF3333;
        }
    }
}
@media only screen and (max-width:768px){
    .addAddress{
        padding: 15px;
        border-radius: 12.808px;
        background: rgba(217, 217, 217, 0.18);
        box-shadow: 0px 4px 18.4px 0px rgba(0, 0, 0, 0.10);
        input , textarea{
            font-size: 14px;
        }
    }
}
