.footer{
    .footerTitle{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            left: 0;
            right: 170px;
            bottom: 50%;
            width: 85%;
            transform: translate(0,-50%);
            height: 3px;
            background: linear-gradient(144deg, rgba(0,0,0,1) 0%, rgba(130,130,130,1) 51%, rgba(255,255,255,1) 100%);
            @media only screen and (max-width:768px){
                width: 63%;
                right: 170px;
                height: 2px;
            }
        }
    }
    .bottom{
        input{
            &::placeholder{
                color: white;
            }
        }
    }
}
