.blogItem{
    margin-top: 0px;
    // @media only screen and (max-width:768px){
    //     min-width: 450px;
    // }
    // .image{
    //     box-shadow: 3.771px 1.676px 9.344px 0px rgba(0, 0, 0, 0.24);
    // }
}

.archiveBlog{
    .items{
        .blogItem{
            min-width: 100px;
        }
    }
}

.singleBlog{
    .content{
        background: rgba(217, 217, 217, 0.2);
    }
}