.hero{
    background-image: url("../../../public/images/herobackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // @media only screen and (max-width:768px){
    //     background-image: url("../../../public/images/mobilehero.png");
    // }
    .herocontainer{
        .search{
            input{
                &::placeholder{
                    text-align: right !important;
                    color: #919191;
                }
            }
        }
    }
}


.appInstall{
    button{
        position: relative;
        &::after{
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0,-50%);
            content: "";
            height: 3px;
            background: linear-gradient(144deg, rgba(235,14,35,0) 0%, rgba(235,14,35,1) 100%);            width: 100%;
        }
        &::before{
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translate(0,-50%);
            content: "";
            height: 3px;
            background: linear-gradient(144deg, rgba(235,14,35,1) 0%, rgba(0,0,0,0) 100%);
            width: 100%;
        }
    }
}

.indexBlog{
    @media only screen and (max-width:768px){
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: normal;
        display: flex;
    }
}

.brancWrapper{
    .form{
        form{
            .button{
                button{
                    width: 120px !important;
                }
            }
        }
    }
}