.login{
    form{
        input{
            border: 1px solid rgba(136, 136, 136, 0.30);
        }
        .radio{
            label{
                font-size: 10px;
            }
        }
        .checkWrapper{
            direction: rtl;
        }
        .redInput{
            border: 1px solid #EB0E23;
        }
    }
}